footer{
  padding:0 32px;
  background: $blue;
  color:white;
  .infos{
    a{
      color:white;
    }
    .redes-sociais{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      margin: 44px 0;
      p{
        width: 100%;;
      }
      .rede-social{
        color:$yellow;
        font-size:26px;
        &:nth-child(1){
          margin-right:35px;
        }
      }
      .btn-zap{
        background:$green;
        padding:13px 26px 10px;
        border-radius:5px;
        font-weight:bold;
        font-size:16px;
        display: block;
        width: fit-content;
        margin:16px auto 44px;
        .fab{
          margin-right:16px;
          font-size:18px;
          font-weight: 400;
        }
      }
    }
    .contatos{
      font-size:18px;
    }
    .logo{
      text-align: center;
      margin-bottom: -44px;
    }
  }
  .cafezinho{
    margin-top: -192px;
  }
  @media(min-width: map-get($map: $grid-breakpoints, $key: lg)){
    background:url(../img/fundo-footer.png) center center no-repeat;
    background-size: cover;
    .cafezinho{
      margin-top: 0;
    }
    .infos{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .redes-sociais{
        order:2;
        margin-top: 0;
        align-items: flex-end;
        margin-bottom: 13px;;
        p{
          width: auto;
          &:nth-child(1){
            width: 100%;
            text-align: left;
            font-size: 18px;
          }
        }
        .btn-zap{
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 32px;
        }
      }
      .contatos{
        order:3;
        margin-bottom: 41px;
      }
      .logo{
        order: 1;
        margin-top: 81px;
        margin-bottom:12px;
        text-align: left;
      }
    }
  }
}