header {
  .container {
    height: 101px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
      a {
        font-family: Poppins;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #192a51;
        padding: 0 12.5px;
      }
    }
  }
}

.top-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in;
  background-color: #ffffff;

  img {
    width: 150px;
  }

  .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    padding-left: 10px;

    .mob-a {
      display: inline-block;
      min-width: 75px;
      margin: 0.3em 0;
      padding: 0 10px;
      transition: 1s all;
      text-decoration: none;
      font-size: 20px;

      &:link,
      &:visited {
        color: #0d0d0d;
      }

      &:focus,
      &:hover,
      &:active {
        transform: scale(1.1) rotate(-2deg);
        color: #20232d;
      }
    }
  }

  .logo {
    display: inline-block;
    width: 150px;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;

    .navicon {
      background: #20232d;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: #20232d;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}
// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}
