.banner-header {
  background: url("../../dist/img/bg-header-desk.png") center center no-repeat;
  background-size: 100%;
  height: 634px;
  .title {
    padding-top: 63px;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: left;
    color: #fff;
    width: 600px !important;
    .destaque {
      background: white;
      color: #192a51;
      height: 50px !important;
      display: inline-block;
    }
  }
  .banner-text {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    padding-top: 11px;
    padding-bottom: 21px;
    margin-bottom: 0;
  }

  .btn-conheca {
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
    color: #0fbaee;
    padding-bottom: 39px;
    display: block;
    text-transform: uppercase;
  }
  .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 43px;
    background: #0fbaee;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
    color: #fff;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
  .logo {
    width: 224px;
    height: 55px;
    display: block;
    margin-bottom: 27px;
  }

  .mini {
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
  }
}

.section-one {
  padding-top: 80px;
  padding-bottom: 50px;

  .logo-3 {
    width: 346px;
    height: 80.29px;
    margin-bottom: 34.6px;
  }

  .text-flex {
    display: flex;
    padding-bottom: 49px;
    position: relative;
    h3 {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #192a51;
      width: 40%;
      margin-right: 7%;
    }
    p {
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #192a51;
      width: 315px;
    }
    img {
      position: absolute;
      right: 70px;
      bottom: -50px;
    }
  }
  .detail {
    width: 938px;
    height: 3px;
    background: #192a51;
  }

  .itens {
    display: flex;
    padding-top: 80px;
    .icon {
      width: 63px;
      height: 63px;
      background: #0fbaee;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 35px;
    }
    .size-block {
      width: 346px;
      padding-bottom: 35px;

      .title {
        display: block;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #0fbaee;
      }
      .text {
        font-size: 18px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #192a51;
      }
    }
  }
}

.section-two {
  padding-top: 80px;
  background: #dcdfe5;
  .intro {
    display: flex;
    align-items: center;
    padding-bottom: 65px;

    .title {
      display: flex;
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #0fbaee;
      width: 509px;
      margin-right: 59px;
    }
    .sub {
      display: flex;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #192a51;
      width: 389px;
    }
  }

  .numbers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 84px;

    .numero {
      width: 303px;
      height: 245px;
      background: #0fbaee;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        position: absolute;
        left: 0px;
      }
      .texto {
        display: block;
        width: 160px;
        height: 192px;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
        right: -50px;
        position: relative;
      }
    }
  }
}

.end {
  display: flex;
  padding-bottom: 208px;
  .sub {
    padding-top: 48px;
    display: flex;
    width: 285px;
    height: 136px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #192a51;
  }
  .box {
    position: absolute;
    right: 0;
    width: 63%;
    height: 248px;
    background: #192a51;

    .title {
      display: block;
      width: 470px;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      text-align: left;
      color: #fff;
      padding-top: 32px;
      padding-left: 37px;
      padding-bottom: 53px;
    }
    img {
      position: absolute;
      right: 26%;
      bottom: 30px;
    }

    .btn-cta {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 265px;
      height: 43px;
      font-weight: 600;
      font-size: 16px;
      line-height: 50px;
      text-align: left;
      background: #0fbaee;
      color: #fff;
      position: relative;
      left: 35px;
      top: -20px;
      text-transform: uppercase;
    }
  }
  @media (min-width: 1600px) {
    .box {
      width: 59%;
    }
    img {
      right: 30% !important;
    }
  }
}

.section-three {
  background: url("../../dist/img/bg-1.png") center center no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  .title {
    display: block;
    width: 360px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #fff;
    padding-bottom: 35px;
  }
  .intro-text {
    display: block;
    width: 391px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
  }
  .moca-placa {
    position: absolute;
    right: 18%;
    top: 80px;
  }

  .white-box {
    width: 862px;
    height: 366px;
    background: #fff;
    .envelope {
      width: 370px !important;
      position: relative;
      top: 53px;
      margin-left: 55px;
      .tns-nav {
        bottom: -50px;
        left: 0px;
        position: absolute;
        button {
          width: 10px;
          height: 15px;
          background: #192a51;
          opacity: 0.25;
          border: none;
          margin-right: 10px;
          outline: none;
        }
        .tns-nav-active {
          opacity: 100%;
        }
      }
      .item-carousel {
        .item {
          width: 300px !important;
          margin-right: 70px;
          img {
            margin-bottom: 47px;
            width: 240px;
            height: 80px;
          }
          .title,
          .sub {
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #192a51;
            padding-bottom: 0px;
          }
          .sub {
            font-weight: normal !important;
            font-size: 18px !important;
          }
        }
      }
    }
    .next-button {
      position: absolute;
      right: 750px;
    }
    @media (min-width: 1600px) {
      width: 902px;
    }
  }
  .end-3 {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    p {
      width: 353px;
      height: 269px;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #fff;
    }
    .destaque {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #fff;
      width: 312px;
    }
  }
  .btn-cta {
    width: 248px;
    height: 43px;
    background: #0fbaee;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
  }
}

.section-four {
  padding-top: 78px;
  padding-bottom: 78px;
  background: #dcdfe5;
  .intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 73px;

    .destaque {
      width: 557px;
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #192a51;
    }
    .text {
      width: 380px;
      height: 106px;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #192a51;
    }
  }
  .white-box-2 {
    margin: 0 0 0 auto;
    height: 492px;
    background: #fff;
    position: relative;
    width: 95%;
    .aspas {
      position: absolute;
      left: 30%;
      z-index: 5;
      top: -12%;
    }
    .next-button-2 {
      position: absolute;
      right: 40px;
      bottom: 70px;
    }

    .depo-wrapper {
      width: 90%;
      position: relative;
      left: -56px;

      .tns-nav {
        position: absolute;
        bottom: -47px;
        left: 100px;
        button {
          width: 10px;
          height: 15px;
          background: #192a51;
          opacity: 0.25;
          border: none;
          margin-right: 10px;
          outline: none;
        }
        .tns-nav-active {
          opacity: 100%;
        }
      }

      .depo-container {
        .item {
          div {
            display: flex;
            .persona {
              position: relative;
              margin-right: 155px;
              img {
                width: 416px;
                height: 416px;
              }
              .filtro {
                width: 416px;
                height: 273px;
                background: linear-gradient(
                  rgba(25, 42, 81, 0) 0%,
                  #192a51 100%
                );
                position: absolute;
                bottom: 0;
              }
              .info {
                position: absolute;
                bottom: 20px;
                display: block;
                left: 30px;
                span {
                  display: block !important;
                  font-size: 22px;
                  letter-spacing: 0.02em;
                  text-align: left;
                  color: #fff;
                }
              }
            }
          }
          .text {
            padding-top: 38px;
            width: 346px;
            font-weight: normal;
            font-style: italic;
            font-size: 18px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #192a51;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section-five {
  padding-top: 80px;
  padding-bottom: 80px;

  .name {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    color: #192a51;
    padding-bottom: 40px;
    display: block;
  }

  .grid {
    display: flex;
    justify-content: space-between;
    .text {
      width: 475px;
      height: 187px;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #192a51;
      p {
        margin-bottom: 0;
      }
      .box-blue {
        height: 205px;
        background: #0fbaee;
        width: 800px;
        padding: 34px;
        margin-top: 28px;
        margin-bottom: 28px;
        p {
          width: 441px;
          height: 133px;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0.02em;
          text-align: left;
          color: #fff;
        }
      }
    }

    .second-column {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      .blue-box {
        top: -22px;
        width: 509px;
        height: 213px;
        background: #192a51;
        padding: 54px;
        padding-top: 80px;
        position: relative;
        p {
          width: 403px;
          height: 79px;
          font-weight: normal;
          font-style: italic;
          font-size: 18px;
          letter-spacing: 0.02em;
          text-align: left;
          color: #0fbaee;
        }
        img {
          position: absolute;
          top: -45px;
          right: 25px;
        }
      }
    }
  }

  .end-grid {
    padding-top: 53px;
    .d-lg-flex {
      padding-bottom: 39px;
    }

    .infos {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
      }
      .strong {
        font-weight: 600;
        font-size: 46px;
        line-height: 40px;
        text-align: left;
        color: #192a51;
        margin-right: 4px;
      }
      .normal {
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 20px;
        text-align: left;
        color: #192a51;
      }

      .btn-cta {
        width: 237px;
        height: 43px;
        background: #0fbaee;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        text-align: left;
        color: #fff;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.section-six {
  background: url("../../dist/img/bg-footer.png") center center no-repeat;
  background-size: cover;
  padding-top: 78px;
  padding-bottom: 115px;
  position: relative;

  .head {
    width: 509px;
    position: relative;
    left: 40%;

    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #fff;
      display: block;
      padding-bottom: 24px;
    }
    .sub {
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #fff;
      display: block;
      padding-bottom: 36px;
      margin-bottom: 0;
    }
  }

  .content {
    display: flex;
    .infos-contato {
      display: flex;
      flex-direction: column;
      img {
        width: 227px;
        height: 54.2px;
        margin-bottom: 40px;
      }
      .icon {
        width: 206px;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
        margin-bottom: 40px;
        display: flex;
        align-items: baseline;
        i {
          margin-right: 8px;
        }
      }
    }
    .form-box {
      position: relative;
      left: 100px;
      .form {
        background: white;
        padding: 50px 90px;
        width: 699px;

        p,
        span {
          margin-bottom: 0;
        }

        .wpcf7-not-valid-tip {
          position: relative;
          top: -30px;
        }

        .textarea-204 {
          .wpcf7-not-valid-tip {
            position: relative;
            top: 0;
          }
        }

        .wpcf7-response-output {
          position: relative;
          top: -20px;
          margin: 0;
        }

        .wpcf7-list-item {
          margin: 0;
          label {
            display: flex;
            height: unset !important;
            align-items: center;
            margin-top: 40px;
            width: 509px;
            font-weight: normal;
            font-size: 18px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #192a51;

            input {
              display: flex !important;
              height: unset !important;
              width: unset !important;
              margin: 0;
              margin-right: 15px;
            }
          }
        }

        .form-title {
          width: 509px;
          font-weight: normal;
          font-size: 18px;
          letter-spacing: 0.02em;
          text-align: left;
          color: #192a51;
          margin-bottom: 0;
          padding-bottom: 30px;
          display: block;
        }
        input {
          display: block;
          width: 509px;
          height: 45px;
          background: #dcdfe5;
          margin-bottom: 30px;
          outline: none;
          border: none;
          padding-left: 10px;
          color: #192a51;
        }
        textarea {
          width: 509px;
          height: 180px;
          padding-left: 10px;
          background: #dcdfe5;
          color: #192a51;
          outline: none;
          border: none;
        }

        input::placeholder,
        textarea::placeholder {
          font-weight: normal;
          font-size: 15px;
          letter-spacing: 0.02em;
          text-align: left;
          color: #192a51;
        }

        input[type="submit"] {
          margin-top: 48px;
          width: 209px !important;
          height: 43px !important;
          background: #0fbaee;
          font-weight: 600;
          font-size: 16px;
          text-align: left;
          color: #fff;
          padding: unset !important;
          text-transform: uppercase;
          text-align: center;
        }
      }
      .midias {
        width: 60%;
        justify-content: space-around;
        align-items: center;
        display: flex;
        margin: 0 auto;
        padding-top: 80px;
        position: relative;
        left: -65px;
        i {
          color: #0fbaee;
          font-size: 20px;
          margin-right: 30px;
        }
        p {
          font-weight: normal;
          font-size: 15px;
          letter-spacing: 0.02em;
          line-height: 20px;
          text-align: left;
          color: #fff;
          margin-bottom: 0px;
        }
      }
    }
  }
}
