@media (min-width: 768px) and (max-width: map-get($grid-breakpoints, lg )) {
  .banner-header {
    background: none !important;
    .container {
      max-width: 100%;
      .mob-banner {
        top: 175px;
      }
      img.d-lg-none {
        width: 100%;
      }
    }
  }
  .section-one {
    padding-top: 520px;
    .logo-3 {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px !important;
    }
    .itens {
      .row {
        justify-content: center;
      }
    }
  }
  .section-two {
    .box {
      img {
        right: 36% !important;
      }
    }
  }
  .section-three {
    background: #182952;
    .envelope {
      margin-left: 19px !important;
    }
  }
  .section-five {
    .second-column {
      .gustavo-tablet {
        width: 100%;
      }
    }
    .end-grid {
      .infos {
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
