$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1280px,
  xxl: 1400px,
);

@media (max-width: map-get($grid-breakpoints, lg )) {
  .banner-header {
    height: 855px;
    .container {
      padding: 0 !important;
      .logo {
        margin-bottom: 10px !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
      }

      .header-mob {
        background: #192a51;
        height: 600px;
      }
      .mob-banner {
        position: absolute;
        top: 130px;

        .destaque {
          height: 30px !important;
          font-size: 22px;
        }

        .title {
          width: 100% !important;
          font-size: 24px;
          text-align: center;
          line-height: 30px;
          padding-top: 0;
        }
        .banner-text {
          font-size: 18px;
          width: 100% !important;
          text-align: center;
        }
        .btn-conheca {
          padding-bottom: 10px;
          text-align: center;
        }
        .btn-cta {
          margin: 0 auto;
        }
        .mini {
          display: flex;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
  }

  .section-one {
    padding-top: 140px;
    padding-bottom: 0px;
    .text-flex {
      display: block;
      padding-bottom: 35px;
      h3 {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 20px;
      }
      h3,
      p {
        width: 100%;
        text-align: center;
      }
      img {
        position: unset;
        margin: 0 auto;
        display: block;
      }
    }
    .detail {
      width: 100%;
    }
    .itens {
      padding-top: 30px;
      flex-direction: column;
      .title {
        font-size: 20px !important;
      }
      .text {
        font-size: 18px !important;
      }
      .icon {
        margin-right: 15px;
        position: relative;
        top: 10px;
      }
      .row {
        flex-wrap: nowrap;
      }
    }
  }

  .section-two {
    padding-top: 30px;
    .intro {
      display: block;
      padding-bottom: 20px;
      .title {
        font-size: 27px;
        line-height: 30px;
        padding-bottom: 20px;
      }
      .title,
      .sub {
        text-align: center;
        width: 100%;
        margin-right: 0;
      }
    }
    .numbers {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      .numero {
        margin-bottom: 20px;
      }
    }
    .end {
      display: block;
      padding-bottom: 250px;
      .sub {
        padding-top: 0px;
        width: 100%;
        text-align: center;
      }
      .box {
        position: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        position: relative;
        img {
          right: 23%;
          bottom: -220px;
        }
        .title {
          font-size: 18px !important;
          text-align: center;
          width: 100%;
          padding: 0;
        }
        .btn-cta {
          top: 5px !important;
          left: 0;
        }
      }
    }
  }

  .section-three {
    padding-top: 30px;
    padding-bottom: 45px;
    .title,
    .intro-text {
      width: 100%;
      text-align: center;
    }
    .moca-placa {
      display: none;
    }
    .white-box {
      width: 100%;
      height: 390px;
      .envelope {
        margin-left: 10px;
        width: 100% !important;
        .item {
          margin-right: 47px !important;
        }
        @media (min-width: 400px) and (max-width: 450px) {
          width: 90% !important;
        }
      }
      .next-button {
        position: relative;
        right: -280px;
        bottom: -78px;
      }
    }
    .end-3 {
      display: block;
      width: 100%;
      .destaque {
        text-align: center;
        display: block;
        padding-top: 20px;
        width: 100%;
      }
      p {
        text-align: center;
        height: unset;
        margin-bottom: 0;
        width: 100%;
      }
    }
    .btn-cta {
      margin: 0 auto;
    }
  }

  .section-four {
    padding-top: 30px;
    .intro {
      flex-direction: column;
      padding-bottom: 30px;
      .destaque {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 20px;
      }
      .destaque,
      .text {
        width: 100%;
        text-align: center;
      }
    }
    .white-box-2 {
      margin: 0;
      height: unset;
      width: unset;
      .aspas {
        display: none;
      }
      .depo-wrapper {
        width: 100%;
        position: unset;
        .tns-nav {
          left: 0;
        }
        .depo-container {
          .item {
            div {
              flex-direction: column;
              .persona {
                display: block;
                margin-right: 0;
                img {
                  width: unset;
                  height: unset;
                }
              }
              .text {
                width: 100%;
                padding: 20px;
              }
            }
          }
        }
      }
      .next-button-2 {
        left: 85%;
        bottom: -60px;
        position: relative;
        right: unset !important;
      }
    }
  }

  .section-five {
    padding-top: 30px;
    padding-bottom: 45px;
    position: relative;
    .container {
      padding: 0;
    }
    .name {
      text-align: center;
      padding-bottom: 20px;
    }
    .grid {
      flex-direction: column;
      .text {
        width: 100%;
        text-align: center;
        height: unset;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        .box-blue {
          width: 100%;
          height: unset;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            width: 100%;
            height: unset;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
          }
        }
      }
      .second-column {
        margin-bottom: -22px;
        width: 100%;
        .blue-box {
          height: unset;
          width: 100%;
          padding-top: 70px !important;
          padding: 20px;
          padding-bottom: 40px;
          p {
            text-align: center;
            width: 100%;
            height: unset;
            margin-bottom: 0;
          }
        }
      }
    }
    .end-grid {
      padding-top: 0;
      .d-lg-flex {
        padding-bottom: 30px;
      }
      .infos {
        flex-direction: column;
        align-items: center;
        div {
          margin-bottom: 20px;
        }
      }
    }
  }
  .section-six {
    padding-bottom: 45px;
    padding-top: 30px;
    .head {
      width: 100%;
      position: unset;
      .title,
      .sub {
        text-align: center;
      }
    }
    .content {
      flex-direction: column-reverse;
      .form-box {
        position: unset;
        .form {
          width: 100%;
          padding: 30px 15px;
          padding-bottom: 10px !important;
          label {
            width: 100% !important;
          }
          .form-title {
            width: 100%;
          }
          input,
          textarea {
            width: 100%;
          }
          .btn-cta {
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
      .infos-contato {
        align-items: center;
        padding-top: 30px;
        .icon {
          width: auto;
        }
        .first {
          width: 90% !important;
        }
        .midias {
          margin: 0 auto;
          padding-top: 0px;
          position: relative;
          div {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            width: 100px;
            margin-bottom: 15px;
          }
          i {
            color: white;
            font-size: 20px;
          }
          p {
            font-weight: normal;
            font-size: 15px;
            letter-spacing: 0.02em;
            line-height: 20px;
            text-align: center;
            color: #fff;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
