@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gelasio:ital,wght@1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    transform: scale(1.02) !important;
  }
}

.whats-btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: rgb(2, 129, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: white;
    font-size: 32px;
  }
}

@import "footer";
@import "header";
@import "home";
@import "home-mobile";
@import "tablet";
